#shop {
  .list {
    margin: -1rem;

    .list-item {
      margin: 1rem;

      h2 {
        margin: 0;
        color: $c-yellow;
        text-shadow: 3px 3px 0 $c-blue;
      }

      h3 {
        margin: 0;
        color: $c-yellow;
      }
    }
  }

  .is-loading {
    margin: 1rem 0;
  }
}
