.container {
  display: block;
  max-width: $site-width;
  margin: 0 auto;
  padding: 0 1rem;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.card {
  display: block;
  background-color: $c-red;
  border-radius: .3rem;

  .card-line {
    &:not(:last-child) {
      border-bottom: 1px solid rgba($c-white, .5);
    }

    &.card-columns {
      display: flex;

      > * {
        flex: 1;
        border-right: 1px solid rgba($c-white, .5);
      }
    }
  }

  .card-text {
    padding: 1rem;
  }

  .card-btns {
    display: flex;

    a,
    button {
      flex: 1;
      display: block;
      border: none;
      border-right: 1px solid rgba($c-white, .5);
      color: $c-white;
      background: none;
      text-decoration: none;
      padding: 1rem;
      font-weight: bold;
      text-align: center;

      &:last-child {
        border-right: none;
      }

      &:hover {
        background-color: rgba($c-white, .3);
      }
    }
  }
}
